:root {
    --width-min: 250px;
    --padding-const: 25px;
    --gap-const: 15px;
    --currency: " Euro";
    --clr-back: #f5f5f5;
    --clr-font: #333333;
    --clr-gray: #6c757d;
    --clr-enter: #007bff;
    --clr-clear: red;
    --clr-success: #28a745;
    --clr-alert: #dc3545;
}

body {
    /* box-sizing: border-box; */
    font-family: 'Inter', sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
    color: var(--clr-font);
    background-color: var(--clr-gray);
}

h1 {
    font-size: 1.5em;
}

p {
    margin: 1em 0;
}

.container {
    margin: 0 auto;
    padding: var(--padding-const);
    max-width: 800px;
    min-width: var(--width-min);
    background-color: var(--clr-back);
}

.masterBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-const);
}

.inputBlock,
.catBlock,
.dateBlock,
.inputButtonBlock,
.statusBlock,
.historyBlock,
.clearBlock {
    width: calc(100% / 2 - var(--gap-const) / 2 - 2px);

    /* for dev only - remove in production
    border: 1px dotted lightgreen; */
}

.inputBlock,
.catSelector,
.dateSelector,
.inputButton,
.clearButton {
    height: 2em;
    border-radius: 5px;
}

@media (max-width: 576px) {
    .inputBlock,
    .catBlock,
    .dateBlock,
    .inputButtonBlock,
    .statusBlock,
    .historyBlock {
        width: calc(100% - 2px);
        
        /* for dev only - remove in production
        border: 1px dotted red; */
    }
/* 
    .inputButtonBlock,
    .clearBlock {
        width: fit-content;
    } */
}

input,
select,
button {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

.limitUpdateBtn {
    height: 1em;
    background-color: transparent;
    cursor: pointer;
}

.inputButton {
    background-color: var(--clr-enter);
    border: 1px solid var(--clr-enter);
}

.clearButton {
    margin-top: 1em;
    background-color: var(--clr-clear);
    border: 1px solid var(--clr-clear);
}


.label {
    font-weight: 700;
}

ol {
    list-style: decimal;
    list-style-position: inside;
}

.inputBlock {
    display: flex;
    align-items: center;
    border: 1px solid var(--clr-gray);
}

.expenseAdder,
.catSelector,
.dateSelector {
    color: var(--clr-font);
    background-color: var(--clr-back);
    /* border: none; */
}

.expenseAdder {
    border: none;
}

.euro::after {
    content: var(--currency);

}

.status {
    color: var(--clr-success);
}

.status-alert {
    color: var(--clr-alert);
}