:root {
    --width-min: 250px;
    --padding-const: 15px;
    --gap-const: 15px;
    --currency: " Euro";
    --clr-back: black;
    --clr-font: white;
}

body {
    /* box-sizing: border-box; */
    font-family: 'Inter', sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
    color: var(--clr-font);
    background-color: var(--clr-back);
}

input,
select,
button {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

.limitUpdateBtn {
    width: fit-content;
    height: fit-content;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
}

.inputButton {
    background-color: blue;
    border: 1px solid blue;
}

.clearButton {
    background-color: red;
    border: 1px solid red;
}


.label {
    font-weight: 700;
}
ol {
    list-style: decimal;
    list-style-position: inside;
}

.container {
    margin-inline: auto;
    padding-inline: var(--padding-const);
    max-width: 800px;
    min-width: var(--width-min);

    /* for dev only - remove in production */
    border: 1px solid pink;
}

.masterBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-const);
}

.inputBlock,
.catBlock,
.dateBlock,
.inputButtonBlock,
.statusBlock,
.historyBlock,
.clearBlock {
    width: calc(100% / 2 - var(--gap-const) / 2 - 2px);

    /* for dev only - remove in production */
    border: 1px dotted lightgreen;
}

@media (max-width: 576px) {
    .inputBlock,
    .catBlock,
    .dateBlock,
    .statusBlock,
    .historyBlock {
        width: calc(100% - 2px);
        
        /* for dev only - remove in production */
        border: 1px dotted red;
    }

    .inputButtonBlock,
    .clearBlock {
        width: fit-content;
    }
}

.inputBlock {
    display: flex;
    align-items: center;
}

.expenseAdder,
.catSelector,
.dateSelector {
    color: var(--clr-font);
    background-color: var(--clr-back);
    /* border: none; */
}

.euro::after {
    content: var(--currency);

}

.status {
    color: lightgreen;
}

.status-alert {
    color: red;
}